.icons {
    &.byline {
        margin: -1.75em 0 3em 0 !important;

        @include breakpoint(small) {
            margin: -0.5em 0 3em 0 !important;
            line-height: 1.25;
        }

        li {
            padding: 0 0.25em 0 0;

            a.icon {
                font-size: 0.8em;
            }
        }
    }
}
