.mentors-listing {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;

    .mentor {
        width: 33%;
        padding: 0 10px;
        margin-bottom: 2em;

        .box {
            height: 100%;
            margin-bottom: 0;
        }

        h3 {
            margin: 0;
        }

        .location, .icons, .availability {
            margin: 0 0 0.5em 0;
        }

        .availability {
            hr {
                margin: 0.5em 0;
            }

            h4, ul {
                display: inline;
            }

            ul {
                margin-left: 0.5em;
            }
        }

        @include breakpoint(medium-to-max) {
            &:nth-child(3n+0) {
                padding-right: 0;
            }

            &:nth-child(3n+1) {
                padding-left: 0;
            }
        }

        @include breakpoint(small-to-medium) {
            width: 50%;

            &:nth-child(2n+0) {
                padding-right: 0;
            }

            &:nth-child(2n+1) {
                padding-left: 0;
            }
        }

        @include breakpoint(small) {
            width: 100%;
            padding: 0;
        }
    }
}