@import url('fonts.css');
@import url('syntax.css');

body {
    font-family: 'Open Sans';
    color: #373b3e;
    background-color: black;
    font-size: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab';
    color: #3d4449;
}

ul {
    list-style-type: none;
}

li {
    font-size: 1.4em;
    margin-bottom: 0.6em;
}

li:before {
    content: "⦿";
    padding-right: 0.5em;
    color: #e15188;
}

h1 {
    border-bottom: solid 0.10em #e15188;
}

h2 {
    font-weight: normal;
}

.step {
    background-color: white;

    /*
     * These max-width, width, and height values allow us to support a wide
     * range of projector resolutions.
     */
    max-width: 4096px;
    height: 100%;
    width: 100%;
}

.step .inner-step {
    width: 90%;
    height: 90%;
    margin: auto;
}

.title, .section {
    text-align: center;
}

.title .inner-step, .section .inner-step {
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.title h1, .section h1 {
    font-size: 3.25em;
    margin: 0;
    border-bottom-width: 0.07em;
}

.title h2, .section h2 {
    font-size: 1.3em;
    margin: 0;
    margin-top: 0.3em;
    text-transform: uppercase;
}

.section h1 {
    font-size: 2.75em;
}

.section h2 {
    text-transform: none;
}

.inner-step p {
    font-size: 1.4em;
}

.inner-step .half {
    display: block;
    width: 50%;
}

.inner-step .two-thirds {
    display: block;
    width: 66%;
}

/* Adjustments for XGA (1024x768) projectors. */
@media (min-width: 1024px) {
    body {
        font-size: 150%;
    }
}

/* Adjustments for WXGA (1280x800) projectors. */
@media (min-width: 1280px) {
    body {
        font-size: 175%;
    }
}

/* Adjustments for HD (1920x1080) projectors. */
@media (min-width: 1920px) {
    body {
        font-size: 250%;
    }
}

/* Adjustments for 4K (4096x2160) projectors. */
@media (min-width: 4096px) {
    body {
        font-size: 500%;
    }
}

/* Tiny windows (i.e., presenter display). */
@media (max-width: 640px) {
    body {
        font-size: 50%;
    }
}
